<div class="profile">
  <img class="profile-avatar" src="/img/avatar.png" alt="avatar">
  <div class="profile-text">
    <div class="profile-name">heznpc</div>
    <div class="profile-bio">2차 창작 / 유머 일러스트</div>
    <div class="profile-links">
      <a href="https://x.com/heznpc" target="_blank" rel="noopener">X</a>
      <a href="https://www.pixiv.net/users/heznpc" target="_blank" rel="noopener">pixiv</a>
    </div>
  </div>
</div>
